/* Richard Hsu's Blog CSS Style
 * I'm not going to be weird and add copyrights or usage rights because
 * webdesign should be about learning, experimentation, sharing, and fun!
 * So use whatever you'd like that you see fit!
 */

/* General HTML Elements */
body {
  background: #fdfdfd;
  color: #515151;
  font: normal normal 18px 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
  line-height: 2.0em;
  margin: 0 auto;
  padding: 0;
}

h1, h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
  font-weight: normal;
}

p {
  margin: 5px 0;
  padding: 0;
}

blockquote {
  padding-left: 15px;
}

blockquote::before {
  color: #dfdfdf;
  content: "”";
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  margin-right: 10px;
  position: absolute;
  left: 5px;
}

blockquote p {
  display: inline;
}

code,
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 15px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

code {
  padding: 3px 5px;
  color: #212121;
  white-space: nowrap;
  background-color: #f7f7f7;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  padding: 15px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 2.0em;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

a:link, a:visited {
  color: #559977;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active {
  color: #336644;
}

iframe {
  border: 0px;
  margin: 0 auto;
}

iframe:not([seamless]) {
  border: 0px;
}

.post table {
  border-collapse: collapse;
  border-spacing: 0;
}

.post table td, .post table th {
  border: 1px solid #dddddd;
  padding: 5px 15px;
}

.post img {
  border: 3px solid #eaeaea;
  padding: 3px;
}

/* Generalized Custom Style Classes */
.left { float: left; }
.right { float: right; }
.center { text-align: center; margin: 0 auto; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

img {
  max-width: 100%;
}

.ios-vertical {
  max-height: 500px;
}

/* Custom Layout Elements */
#header {
  background: #009977;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

#feed {
  background: #fdfdfd;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0;
}

.content-jar {  /* Center to content area */
  margin: 0 auto;
  max-width: 960px;
  padding: 30px;
}

.avatar {
  border: 2px solid #ffffff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  height: 100px;
  overflow: hidden;
  width: 100px;
  margin: 10px auto;
}

ul.pages, ul.tag-cloud {
  list-style-type: none;
  margin: 10px auto;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

ul.pages li {
  background: #007755;
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin: 0 5px 0 0;
  padding: 2px 6px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

ul.pages li a:link, ul.pages li a:visited {
  color: #ffffff;
  text-decoration: none;
}

ul.pages li a:hover, ul.pages li a:active {
  border-bottom: 1px dotted #ffffff;
}

ul.tag-cloud li {
  color: #000000;
  font-weight: normal;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  text-transform: uppercase;
}

.tag-header {
  background-color: #eeeeee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 5px 10px;
  text-align: right;
}

@media all and (min-width: 400px) {
  .tag-cloud {
    column-count: 2;
    column-gap: 5px;
    -moz-column-count: 2;
    -moz-column-gap: 5px;
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
  }
}

@media all and (min-width: 600px) {
  .tag-cloud {
    column-count: 3;
    column-gap: 5px;
    -moz-column-count: 3;
    -moz-column-gap: 5px;
    -webkit-column-count: 3;
    -webkit-column-gap: 5px;
  }
}

@media all and (min-width: 900px) {
  .tag-cloud {
    column-count: 5;
    column-gap: 5px;
    -moz-column-count: 5;
    -moz-column-gap: 5px;
    -webkit-column-count: 5;
    -webkit-column-gap: 5px;
  }
}

.post {
  position: relative;
  margin-bottom: 40px;
}

.single-post p {
  margin: 25px 0;
}

.post-header {
  margin-bottom: 5px;
}

.post-header h1 {
  margin: 10px 0;
  padding: 0;
  font-weight: 300;
}

.post-header h1 a:link, .post-header h1 a:visited {
  color: #338866;
  text-decoration: none;
}

.post-header h1 a:hover, .post-header h1 a:active {
  color: #005533;
  text-decoration: none;
}

.post-date {
  color: #555555;
  font-weight: bold;
  margin-right: 10px;
}

#post-navigation {
  color: #aaaaaa;
  margin: 40px 0 10px 0;
}

#post-navigation .left,
#post-navigation .right {
  background-color: #f4f4f4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
}

.single-post #post-navigation {
  margin: 0 0 30px 0;
}

#post-navigation .center:before,
#post-navigation .center:after {
  content: '\2014';
  font-weight: bold;
  padding: 0 0.3em;
}

#post-navigation .left a:before {
  content: '\00AB';
  padding: 0 0.3em;
}

#post-navigation .right a:after {
  content: '\00BB';
  padding: 0 0.3em;
}

#post-navigation a.disabled:link,
#post-navigation a.disabled:visited,
#post-navigation a.disabled:hover,
#post-navigation a.disabled:active {
  color: #cccccc;
  pointer-events: none;
}

.back-to-index {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.back-to-index a:before {
  content: '\2190';
  padding: 0 0.3em;
}

/* DISQUS */
#disqus_thread {
  margin-top: 10px;
}

/* Google */
input.gsc-input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 4px 8px;
}
