<!-- Including InstantSearch.js library and styling -->
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.3/dist/instantsearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.22.0/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.3/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.3/dist/instantsearch-theme-algolia.min.css">

<script>
// Instanciating InstantSearch.js with Algolia credentials
const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  indexName: '{{ site.algolia.index_name }}',
  apiKey: '{{ site.algolia.search_only_api_key }}'
});

// Adding configuration
search.addWidget(
  instantsearch.widgets.configure({
    hitsPerPage: 5,
    filters: '(type:post)',
  })
);

// Adding searchbar and results widgets
search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-searchbar',
    placeholder: 'Search posts...',
    poweredBy: true // This is required if you're on the free Community plan
  })
);
search.addWidget(
  instantsearch.widgets.hits({
    container: '#search-hits',
    transformData: {
      allItems: function(hits) {
        return hits.filter(hit.type == "post");
      }
    },
    templates: {
      empty: 'No posts found',
      item: function(hit) {
        var tags = '';
        for (var i = 0; i < hit.tags.length; i++) {
          tags += '<a href="/tag/' + hit.tags[i].replace(' ', '-').toLowerCase() + '" rel="tag">' +
                  hit.tags[i] + '</a>';
          if (i < hit.tags.length - 1) {
            tags += ', ';
          }
        }
        return `
        <div class="post">
          <div class="post-header">
            <h1><a href="${hit.url}">${hit._highlightResult.title.value}</a></h1>
            <span class="post-date"><i class="fa fa-calendar"></i> ${moment.unix(hit.date).format('MMM D, YYYY')}</span>
            <span class="post-tags"><i class="fa fa-tag"></i>
              ${tags}
            </span>
          </div>
          <p>${hit._highlightResult.html.value}</p>
          <a href="${hit.url}">Continue reading &rarr;</a>
        </div>
        `;
      }
    }
  })
);
search.addWidget(
  instantsearch.widgets.pagination({
    container: '#pagination',
    maxPages: 20,
    scrollTo: false,
    labels: {
      previous: 'Previous',
      next: 'Next',
      first: 'First',
      last: 'Last',
    }
  })
);

// Starting the search
search.start();
</script>
